{% load static %}
{% include 'home.html' %}

<div class="ui horizontal divider"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
    <i class="announcement icon"></i>实验室物料管理细则
</font></font></div>
<div class="ui segment container">
    <ol class="ui list">
        <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">管理员职责
        </font></font>
            <ol>
                <li><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">负责机房卫生与安全</font></font></li>
                <li><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">协助网络配置物料管理</font></font>
                </li>
                <li><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">及时通报各个资源使用情况</font></font>
                </li>
            </ol>
        </li>
        <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">公共物料管理
            <ol>
                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">长期使用</font></font>
                </li>
                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">负责人定时巡检</font></font>
                </li>
            </ol>
        </li>
        <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">自研物料管理
            <ol>
                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">最长两个月使用周期，到期可续约，不续约默认回收</font></font>
                </li>
                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">申请需要说明"责任人"、"用途"、"使用周期"</font></font>
                </li>
                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">申请邮件需要抄送"组长+经理"</font></font>
                </li>
            </ol>
        </li>
        <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">组内物料申请
        </font></font>
            <ol>
                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">组内自行维护</font></font>
                </li>
                </li>
            </ol>
        </li>
    </ol>
</div>
{% include 'footer.html' %}